body {
  margin: 0;
  padding: 0;
  background-color: black;
}

&::selection {
  color: rgba(0, 0, 255, 1);
  background-color: rgba(255, 255, 255, 1);
}

* {
  font-family: "Times New Roman", serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto 32px auto;
}

.header {
  text-align: left;
  padding: 16px;
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  color: white;
  text-align: left;
  margin: 0;
  font-size: 28px;
  font-weight: 700;
}

.subtitle {
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
  margin: 0;
  font-weight: 400;
  font-size: 24px;
}

.content {
  margin-bottom: 16px;
}

img {
  width: 100%;
  display: block;
  user-select: none;
}

.byline {
  color: rgba(255, 255, 255, 0.25);
  text-align: left;
  padding: 16px;
  margin: 0;
  font-size: 16px;
  font-weight: medium;
  line-height: 1.2;
  letter-spacing: 0.01em;
}
